#albums-dashboard {
    width: 240px;
    padding-top: 24px;
    position: fixed;
}

#albums-dashboard .dashboard-nav {
    padding: 8px 100px 12px 44px;
    margin-top: 4px;
}

#albums-dashboard .dashboard-nav:hover {
    cursor: pointer;
}

#albums-dashboard .dashboard-albums {
    background-color: #609BBF;
}

#albums-dashboard .dashboard-nav img {
    width: 24px;
    height: 24px;
    margin-top: 6.5px;
}

#albums-dashboard .link {
    text-decoration: none;
    color: #000000;
}

#albums-dashboard .dashboard-nav span {
    margin-left: 12px;
    position: relative;
    bottom: 6.5px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#albums-dashboard .my-music {
    margin: 64px 0 0 0;
}

#albums-dashboard .my-music p {
    color: #132F40;
    font-size: 14px;
    font-family: 'Open Sans',
        sans-serif;
    font-weight: 600;
}

#albums-dashboard .my-music p:hover {
    cursor: default;
}

#albums-dashboard .my-music span {
    position: relative;
    bottom: 26.5px;
    left: 22px;
}