/* #browse {
    margin-top: -574px;
    float: left;
} */

#browse .card-main-topmost {
    margin-top: 10px;
}

#browse .card-main-topmost,
.card-main-bottom {
    padding: 48px 0 0 52px;
    width: 81vw;
    float: right;
    /* height: 100%; */
    position: relative;
    bottom: 200px;
    font-size: 27.34px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

#browse .card-box {
    padding: 17px 0;
    margin-top: 16px;
}

#browse .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#browse .card img {
    margin-right: 16px;
}

#browse .card img:hover {
    cursor: pointer;
}

#browse .card-next-btn {
    position: absolute;
    margin-top: 100px;
    right: 50px;
}

#browse .card-next-btn:hover {
    cursor: pointer;
}