#browse {
    position: relative;
    margin-left: 295px;
    padding-top: 5px;
    padding-bottom: 137px;
}

.browse p {
    padding: 48px 0 0 0;
    font-size: 27.34px;
    font-family: 'PT Sans',
    sans-serif;
    font-weight: bold;
}

/* external css: flickity.css */

.gallery {
    width: 96%;
}

.gallery-cell {
    width: 25%;
    margin-right: -30px;
    height: 325px;
    position: absolute;
    bottom: -33px;
}

.browse-list-shorter {
    overflow-y: overlay;
    height: 80vh;
}

.track-info {
    display: flex;
    justify-content: space-between;
    background: #619BBF;
    width: 226px;
    height: 65px;
    padding: 15px;
    position: relative;
    top: -30px;
    border-radius: 0 0 12px 12px;
}

.track-info p {
    padding: 0;
    padding-bottom: 8px;
    font-weight: 200;
    font-size: 15px;
}
    
.track-info h1 {
    font-size: 17px;
    font-weight: 600;
    font-family: sans-serif;
}