* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

#home {
    background-color: #DCEEF2;
    height: 86vh;
    padding: 5% 5% 0 4.5%;
    font-family: 'Open Sans', sans-serif;
}

.hero-text-wrapper {
    padding-top: 104px;
    float: left;
}

.hero-text-wrapper h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 34.18px;
    letter-spacing: 2%;
    font-weight: bold;
}

.hero-text-wrapper p {
    font-size: 21.88px;
    margin: 40px 0 68px 0;
}

.hero-text-wrapper p span {
    color: #295773;
    font-weight: 600;
}

.hero-text-wrapper .hero-text-signup {
    padding: 1rem 1.5rem;
    border-radius: 8px;
    background-color: #132F40;
    color: #FFC804;
    text-decoration: none;
}

.hero-img-wrapper {
    float: right;
    position: absolute;
    left: 720px;
}

.row-1 .col-1 {
    float: left;
    margin-right: 35.91px;
}

.row-1 .col-2 {
    float: right;
}

.row-2 {
    position: relative;
    top: 29.82px;
}

.row-2 .col-1 .col-1-1 {
    float: left;
    margin-right: 45.91px;
}

.row-2 .col-1 .col-1-2 {
    float: left;
}

.row-2 .col-2 {
    float: right;
}

@media screen and (max-width:  1280px) {
    .hero-img-wrapper {
        left: 650px;
    }
}