#home {
    background-color: #DCEEF2;
    height: 86vh;
    padding: 72px 80px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text-wrapper {
    padding-top: 100px;
    float: left;
}

.hero-text-wrapper h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 34.18px;
    letter-spacing: 2%;
    font-weight: bold;
}

.hero-text-wrapper p {
    font-size: 21.88px;
    padding: 48px 0 40px 0;
}

.hero-text-wrapper p span {
    color: #295773;
    font-weight: 600;
}

.hero-text-wrapper a {
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #132F40;
    color: #FFC804;
}

.hero-img-wrapper {
    float: left;
}

.hero-img-wrapper .col-1,
.hero-img-wrapper .col-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34.82px;
}

/* .hero-img-wrapper .col-2 {
    margin-top: 34.82px;
} */

