footer {
  position: fixed;
  width: 100vw;
  height: 12vh;
  bottom: 0;
  background: #295773;
  display: flex;
  justify-content: center;
}

footer section {
  width: 80vw;
  border: none;
}

#control-panel h1 {
  font-size: 1.5em;
}

#control-panel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background: #295773;
}

#control-panel > div {
  display: flex;
  justify-content: space-between;
  min-width: 150px;
  align-items: center;
  margin-top: 5%;
}

#control-panel li,  #control-panel ul {
  display: flex;
  padding-right: 10px;
  align-self: flex-start;
}

#control-panel > div img {
  cursor: pointer;
}

#control-panel ul {
  margin: 0 0 5px 10px;
}

#loop-superscript {
color: #FFC804;
font-size: 0.8em;
position: relative;
left: -3px;
bottom: 0.5px;
}

#albumInfo-container {
  display: flex;
  justify-content: center;
  width: 50%;
  min-width: 150px;
  align-items: center;
  margin-top: 5%;
}

#albumInfo {
  display: flex;
  max-width: 60%;
  align-items: center;
}

#albumArt {
  width: 12%;
  margin-right: 10px;
}

input[type='range'] {
  height: .3em;
}

input[type='range']::-webkit-slider-runnable-track, input[type='range']::-moz-range-track {
  background: #000;
  border: none;
}

input[type='range']::-moz-range-progress, input[type='range']::-webkit-progress-value {
  background: #FFC804;
}

input[type='range']::-moz-range-thumb, input[type='range']::-webkit-slider-thumb {
  background: #FFC804;
}

#timeline {
  position: fixed;
  margin-top: 12px;
  width: 80%;
}

#volume-container {
  display: flex;
}

#volume-range {
  display: none;
  transition: display ease 5s;
  width: 60px;
  align-self: center;
}

#volume-container:hover #volume-range {
  display: inline;
}
