#playlist {
  display: flex;
  max-height: 100vh;
  position: relative;
  top: -1vh;
  font-family: sans-serif;
}

.album-art {
  position: fixed;
  right: 0;
  width: 30%;
  height: 101vh;
  background:  linear-gradient(180.38deg, #000000 0%, rgba(0, 0, 0, 0.53) 80%), url('../img/album-art.png');
  color: white;
}

.album-art > div {
  padding-top: 20vh;
  padding-left: 25%;
}

.album-art h1 {
  font-weight: 600;
  font-size: 40px;
}

.album-art p:first-of-type {
  padding-bottom: 27px;
}

.follow-button {
  width: 40%;
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.follow-button button {
  color: white;
  padding: 5px;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
}

.follow-button img {
  padding: 0 10px;
}

.list {
  width: 60%;
  height: 101vh;
  background: #8FC4D9;
  color: #295773;
  position: fixed;
}

.list h1 {
  padding: 20px 60px 50px;
  font-size: 25px;
  color: black;
  font-weight: 400;
}

.flexBox p {
  width: 20%
}

.flexBox, .flexBox p {
  display: flex;
  justify-content: space-between;
}

.list li {
  list-style-type: none;
  padding: 25px 1% 0 5%;
  cursor: pointer;
}

.flexBox:hover {
  color: #FFC804;
}

.list > div {
  overflow-y: scroll;
}
