footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  background: #295773;
  display: flex;
  justify-content: center;
}

footer section {
  width: 80vw;
  border: none;
}

#control-panel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background: #295773;
}

#control-panel > div {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  min-width: 130px;
  align-items: center
}

#control-panel li,  #control-panel ul {
  display: flex;
  padding-right: 10px;
  align-self: flex-end;
}

#control-panel > div img {
  cursor: pointer;
}

#control-panel ul {
  margin: 0 0 5px 10px;
}

#albumInfo {
  display: flex;
}

#albumArt {
  width: 35%;
  margin-right: 5px;
}
